:root {
  --clr-primary-violet: hsl(263, 55%, 52%);
  --clr-primary-gray-blue: hsl(217, 19%, 35%);
  --clr-primary-dark-blue: hsl(219, 29%, 14%);
  --clr-primary-white: hsl(0, 0%, 100%);

  --clr-neutral-light-gray: hsl(0, 0%, 81%);
  --clr-neutral-light-gray-blue: hsl(210, 46%, 95%);

  --ff: "Barlow Semi Condensed", sans-serif;
  --fw-regular: 500;
  --fw-bold: 600;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
/* body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
} */
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background-color: var(--clr-neutral-light-gray-blue);
  font-family: var(--ff);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-light-gray);
  font-size: 0.8125rem;
  margin: 4.375rem 1.5625rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}
article {
  padding: 1.875rem;
  color: var(--clr-neutral-light-gray);
  border-radius: 0.5rem;
}

.profile {
  display: flex;
  gap: 0.9375rem;
}

.profile__status {
  font-size: 0.69rem;
  color: hsla(0, 0%, 81%, 0.5);
}
.profile__picture {
  width: 2rem;
  height: 2rem;
  border: 2px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
}

.highlight {
  letter-spacing: 0.3px;
  margin-top: 0.8rem;
}

.review {
  margin-top: 0.9rem;
  line-height: 1.35;
  padding-right: 1rem;
  color: hsla(0, 0%, 81%, 0.7);
}

article:nth-of-type(1) {
  background: no-repeat url(./images/bg-pattern-quotation.svg) right 10% top,
    var(--clr-primary-violet);
}

article:nth-of-type(2) {
  background-color: var(--clr-primary-gray-blue);
}

article:nth-of-type(3) {
  background-color: var(--clr-primary-white);
  color: var(--clr-primary-gray-blue);
}

article:nth-of-type(4) {
  background-color: var(--clr-primary-dark-blue);
}

article:nth-of-type(5) {
  background-color: var(--clr-primary-white);
}
